* {margin: 0; padding: 0;}

#slider {
	margin: 0 auto;
	width: 458px;
	height: 458px;
	background: ;
}

#slider .control-links {
	bottom: 0;
    display: none;
}

#slider .control-links li.active {
    display: none;
}

#slider img {
    visibility: hidden;
}